/*autoprefixer grid: autoplace */
.App {
  text-align: center; 
}

.bg{ 
  background: linear-gradient(to right top, #00486f, #006d94, #0094b4, #00bccc, #0ae5db);
}

.pushback{
  z-index: -1;
}


/*Background Component*/
.wallpaper{
  position:fixed;   
  left:0;
  top:0;     
  width: 100vw;
  height:100vh;    
}

/*Greeting Component*/
.greeting{  
  display: flex;
  align-items: center;
  padding: 50px 15px;
  position: absolute;
  left: 3.5rem;  
  top: 0;
  bottom: 0;
  overflow: auto; 
}

.dcs{
  width: 15em;
  text-shadow: rgb(0, 0, 0) 5px 5px 5px; 
  color: rgb(255, 255, 255); 
  line-height: 2em;
  font-size: 2.8rem;
  letter-spacing: .25em;
  font-family:'Gayathri', sans-serif;

}
/*Grid Menu*/

@-webkit-keyframes rotate{
  0%{
    transform: rotateY(0deg);
  }
  100%{
    transform: rotateY(360deg);
  }
}

@keyframes rotate{
  0%{
    transform: rotateY(0deg);
  }
  100%{
    transform: rotateY(360deg);
  }
}

#welcome{
  animation: rotate 3s 1;         
 }

 #ourWork{
  animation: rotate 3s  1s 1;
 }

 #contact{
  animation: rotate 3s  .5s 1;
}

 
 #myAccount{
  animation: rotate 3s  1.5s 1;
 }

 
.grid-menu{ 
  display:flex;  
  position:absolute;
  align-items: center;
  top:15rem;
  bottom:0;
  left:45rem;
  width: 25em;
  height: 25em;
}

.cell-container{  
  justify-items: center;
  align-content: center;
  align-items: center;
  justify-content: center;
}


.cell{  
  border: solid 3px white;
  width: 10em;
  height: 10em;
  margin:1em;
  padding: 1.5em;
  padding-top: 0;
  color: white;
  background-color: rgba(105, 105, 105, 0.363);
  cursor: pointer;
}

.grow{
 position: absolute;
 top:8em;
  transform:scale(4);
  background-color: dimgrey;
  border-radius: 1em;  
}

.inner-cell{
  padding-top: 2em;
}

.inner-cell:hover{
  background-color: rgb(253, 253, 253);
  color:black;
  border-radius: 1em;
  transform:scale(1.5); 
 }


.back{
  font-size: 12px;
  cursor: default;
  transform: scale(.75);
}

#welcome-back{
  font-size: .5em;
}

.form{
  transform: scale(.75);
  position:fixed;
  
}

/*Contact Form*/
.contact-form{
  display:flex;  
  justify-content: center;
  align-content: center;
  background-color: dimgrey;
  color: aliceblue;
  position:fixed;
  top:10em;
  left:40em;
  width: 40em;
  height:40em;
  border-radius: 1em; 
}


/*Mobile devices*/
@media only screen and (max-width:600px){
  .greeting{  
    display: flex;    
    padding:0;
    position:relative;
    top: 0;
    left:2em;
    transform: scale(.75);
     
  }
   .dcs{
     font-size: 1.5em;     
   }
   .grid-menu{   
    display:flex;  
    position:fixed;
    align-content: center;
    padding:.25em;
    left:0;
    top: 10em;
    transform: scale(.75);
  }
  .cell{      
    margin:1em;
    padding: 0;
    padding-top: 2em;
    color: white;   
  }
  .inner-cell{
    padding-top: 1em;
  }
  .grow{  
  transform:scale(2);
  margin-left: 4em; 
  }
  .back{
    font-size: 10px;
  }
  /*Contact Us*/
  .contact-form{
    position: fixed;
    position:fixed;
    left: -8.5em;
    top:0;     
    transform:scale(.5)
  }
}


